 .col-md-12 {
    box-sizing: border-box;
  }
  
  /* Float four columns side by side */
  .column {

    float: left;
    width: 35%;

    padding: 10px 10px;
    margin-left: 20px
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15); /* this adds the "card" effect */
    padding: 10px;
    background-color: #259e3f;
    margin-left: 5px;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  .vote {
    margin-left: 230px;
  }

  .voteCount {
    margin-left: 230px;
  }

  .send{
    margin-left: 114px;
    margin-top: -26.5px;
  }
