 .col-md-12 {
    box-sizing: border-box;
  }

  /* Create meeting button*/
  .content{
    margin-top: 120px;
    margin-left: 1110px;
  }

  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 29.5%;
    padding: 10px 10px;
    margin-left: 32px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 2px 4px 0 rgb(250, 250, 250); /* this adds the "card" effect */
    padding: 8px;
    background-color: #f1f1f1;
    width: 100%;
    margin-left: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-decoration: black;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: flex;
      margin-bottom: 20px;
    }
  }

  .vote {
    margin-left: 230px;
  }

  .voteCount {
    margin-left: 230px;
  }

  .send{
    margin-left: 133px;
    margin-top: -31px;
  }
