.sidenav {
    height: 100%;
    width: 220px;
    position: relative;
    z-index: 1;
    top: 100px;
    left: 0.5%;
    background-color:whitesmoke;
    overflow-x: auto;

  }
 .sidenav h3 {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    margin-top: 0%;
    font-size:27px;
    font-weight:bold
}
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color:black;
    display: block;
  }
  .sidenav a.active {
    background-color: #4CAF50;
    color: white;
  }
  .sidenav a:hover {
    color:black;
  }
  .sidenav a:hover:not(.active) {
    background-color: #555;
    color: white;
  }


  @media screen and (max-height: 10px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
