#icon-box{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid red;
}
#material-icons{
    color: red;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
}